.le-duel {
  @apply w-full
    h-screen
    absolute
    left-0
    top-0
    overflow-y-scroll;

  background-color: #fdfeff;

  &--close {
    @apply absolute
    right-2
    top-2;
  }

  &__lyrics {
    padding: 20px;
    font-size: 1.2rem;

    &--active {
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 1s;
    }
  }

  &-lyrics-container {
    @apply text-center
    max-h-96
    overflow-hidden;
  }

  &-flex-wrap-reverse {
    @apply flex-col-reverse
    md:flex-col-reverse
    lg:flex-row
    xl:flex-row
    2xl:flex-row;
  }
}
.dark-only .le-duel {
  background-color: #333a62;
}
