@namespace Langueedu.Web.Components

@inherits ComponentBase<CourseViewModel>

<div class="le-duel">
    <div class="container">
        <div class="le-duel--close">
            <LeButton Color=Color.Transparent Rounded=@Rounded.Full Command=@BindingContext.HideModalCommand>
                <i class="fa-solid fa-xmark text-lg"></i>
            </LeButton>
        </div>

        <div class="le-duel__container">
            <div class="le-duel__lyrics">
                <LeLyrics LyricsModel=@BindingContext.Lyrics NextLyrics="@Bind(x=> x.NextLyrics)"
                    CurrentLyrics="@Bind(x=> x.CurrentLyrics)" />

                <LeStylish StylishCommand=@BindingContext.StylishCommand
                    Stylish="@BindingContext.CurrentLyrics.Stylish" />

            </div>
            <div class="le-duel__video">
                <LeCard>
                    <LeCardBody class="pr-0 pl-0">
                        <LeVideo />
                    </LeCardBody>
                </LeCard>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public short EntryFee { get; set; }

    [Parameter]
    public GameMode GameMode { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        BindingContext.ModalInstance = ModalInstance;
    }
}