.le-duel {
  @apply w-full
    h-screen
    absolute
    left-0
    top-0
    overflow-y-scroll;

  background-color: #fdfeff;

  &--close {
    @apply absolute
    right-2
    top-2;
  }

  // &-flex-wrap-reverse {
  //   flex-direction: row;
  // }

  &-lyrics-container {
    @apply text-center
    max-h-96
    overflow-hidden;
  }

  &-flex-wrap-reverse {
    @apply flex-col-reverse
    md:flex-col-reverse
    lg:flex-row
    xl:flex-row
    2xl:flex-row;
  }
}
.dark-only .le-duel {
  background-color: #333a62;
}
