@namespace Langueedu.Web.Components
<LeCard>
    <LeCardBody class="le-lyrics__container">
        @if (Lyrics is not null)
        {
            foreach (var item in Lyrics)
            {
                bool isStylishActive = item.Duration >= CurrentLyrics.Duration && item.Duration < NextLyrics.Duration;
                <div id="id@(item.Id)" class='le-lyrics @(isStylishActive ? "le-lyrics--active" : "")'>
                    @foreach (var text in item.Text.Split(" "))
                    {
                        if (!item.IsShowAnswer && item.Answer.ToUpperInvariant() == text.ToUpperInvariant())
                        {
                            <span>
                                <i class="le-lyrics__circle-dashed fa fa-spin">
                                </i>&nbsp;
                            </span>
                        }
                        else if (item.IsShowAnswer && item.IsAnswerCorrect.HasValue && item.Answer.ToUpperInvariant() == text.ToUpperInvariant())
                        {
                            <span class="le-lyrics--border-bottom--@( item.IsAnswerCorrect.Value ? "success" :  "fail")">
                                @item.ToTitleCase(text)&nbsp;
                            </span>
                        }
                        else
                        {
                            <span>
                                @item.ToTitleCase(text)&nbsp;
                            </span>
                        }
                    }
                </div>
            }
        }
    </LeCardBody>
</LeCard>

@code {
    [Parameter]
    public List<LyricsViewModel> Lyrics { get; set; } = new();

    [Parameter]
    public LyricsViewModel NextLyrics { get; set; } = new();

    [Parameter]
    public LyricsViewModel CurrentLyrics { get; set; } = new();
}