.le-lyrics {
    padding: 20px;
    font-size: 1.2rem;

    &--border-bottom {
        &--success {
            border-bottom: 1px solid green;
        }

        &--fail {
            border-bottom: 1px solid rgb(234, 73, 98);
        }
    }

    &__container {
        @apply text-center max-h-96 overflow-hidden;
    }

    &--active {
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.2);
        transition: all 1s;
    }

    &__circle-dashed {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px dashed #000;
        margin-right: 0.5rem;

        &::before {
            display: inline-block;
            border: 1px dashed #000;
            content: '';
            border-radius: 0.375rem;
            height: 0.75rem;
            width: 0.75rem;
            background-color: #000;
            margin: 2px;
        }
    }
}
