@namespace Langueedu.Web.Components

<LeCard>
    <LeCardBody>
        <div class="le-indicator-card">
            <div>
                <p>@Title</p>
                <h4>@SubTitle</h4>
            </div>
        </div>
    </LeCardBody>
</LeCard>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string SubTitle { get; set; }
}