@page "/SignIn"
@page "/SignUp"
@layout Langueedu.Web.Pages.EmptyLayout

<div class="authentication-main">
    <div class="ro1w">
        <div class="col-md1-12">
            <div class="auth-innerright">
                <div class="authentication-box">
                    <div class="card-body p-0">
                        <div class="cont">
                            <SignIn />
                            <SignUp />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>