@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Coxxnter</h1>

<p role="status">Currents count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

