@page "/Learn"

<h1>Learn page</h1>
<LePlaylist Playlists="@Items" />

@code {
    [Inject]
    public IPlaylistService PlaylistService { get; set; }

    public IEnumerable<PlaylistViewModel> Items { get; set; } = new List<PlaylistViewModel>();

    protected override async Task OnInitializedAsync()
    {
        Items = (await PlaylistService.GetAllPlaylistsAsync())?.Value;

        await base.OnInitializedAsync();
    }
}