@page "/{ArtistSlug}/{TrackSlug}/{TrackId:int}"

@inherits Langueedu.Web.Components.ComponentBase
@namespace Langueedu.Web.Pages

<div class="user-profile social-app-profile">
    <div class="row">
        <div class="col-sm-12 box-col-12">
            <LeTrackCover TrackId=@TrackId />
        </div>
    </div>
</div>
