@inherits Langueedu.Web.Components.ComponentBase
@namespace Langueedu.Web.Components

@foreach (var playlist in Playlists)
{
    <LeCard>
    <LeCardHeader Title="@playlist.Name">
        <LeCreativeDots />
    </LeCardHeader>
    <LeCardBody Class="pl-3 overflow-hidden">
        <div class="row learn-slider1">
            @foreach (var track in playlist.Tracks)
                {
                    <LeTrack Track="@track" />
                }
            </div>
        </LeCardBody>
    </LeCard>
}