@inherits Langueedu.Web.Components.ComponentBase
@namespace Langueedu.Web.Components
<a href="@Url">
    <div class="playlist">
        <img src="@Track.TrackImage" class="playlist__image" />
        <div class="playlist__footer">
            <h3 class="playlist__sont-title title">@Track.SongTitle</h3>
            <h4 class="playlist__artists">@Track.Artists.GetArtistNames()</h4>
        </div>
    </div>
</a>