@namespace Langueedu.Web.Components
<LeCard>
        <LeCardBody class="le-lyrics__container">
    @foreach (var item in LyricsModel)
    {
        bool isStylishActive = CurrentLyrics.Duration >= item.Duration && NextLyrics.Duration <= item.Duration;

            <div id="id@(item.Duration)" class='le-lyrics @(isStylishActive ? "le-lyrics--active":"")'>
                @item.Text
            </div>
    }
        </LeCardBody>
    </LeCard>

    @code {
    [Parameter]
    public List<LyricsModel> LyricsModel { get; set; }

    [Parameter]
    public LyricsModel NextLyrics { get; set; } = new();

    [Parameter]
    public LyricsModel CurrentLyrics { get; set; } = new();
}