@namespace Langueedu.Web.Components

<div class="progress sm-progress-bar w-full">
    <div class="progress-bar bg-success" role="progressbar" style=@($"width: {Value}%") aria-valuenow="@Value" aria-valuemin="0"
         aria-valuemax="100"></div>
</div>

@code {
    [Parameter]
    public byte Value { get; set; }
}