@namespace Langueedu.Components

<div class="main-header-left text-center">
    <div class="logo-wrapper">
        @*<a href="/"><img src="_content/Langueedu.Pages/assets/images/logo.png" width="112" height="35" alt="Langueedu"
            /></a>*@
    </div>
</div>