@namespace Langueedu.Web.Components

    <div class="nav-right col pull-right right-menu">
        <ul class="nav-menus">
            <li>
                <SearchForm />
            </li>
            <!-- <li>
              <div class="text-dark toggleFullScreen">
                <i data-feather="maximize"></i>
              </div>
            </li> -->
            <li class="onhover-dropdown">
                <UserMenu />
            </li>
        </ul>
        <div class="d-lg-none mobile-toggle pull-right">
            <i class="pe-7s-more"></i>
        </div>
    </div>