@namespace Langueedu.Web.Components

<span class="media user-header">
    <img class="img-fluid" src="_content/Langueedu.Web.Pages/assets/images/user.png" width="167" height="75"
        alt="User" />
</span>
<ul class="onhover-show-div profile-dropdown">
    <li class="gradient-primary">
        <h5 class="f-w-600 mb-0">Elana Saint</h5>
        <span>Web Designer</span>
    </li>
    <li>

        <i class="fa-solid fa-user"></i>
        Profile
    </li>
    <li>
        <NavLink href="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Logout
        </NavLink>
        @* <a href="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Logout
            </a> *@
    </li>
</ul>
