@namespace Langueedu.Components


<div class="coin-icon">
    <span class=@(IsNegative ? "text-danger text-sm" : "text-success text-xl")>@(IsNegative ? "-" : "+")@Gold</span>
    <img src="_content/Langueedu.Pages/assets/images/double-coin.svg" alt="Double Coin" />
</div>

@code {
    [Parameter]
    public bool IsNegative { get; set; }

    [Parameter]
    public decimal Gold { get; set; }
}