@using Langueedu.Sdk.Course.Request


@namespace Langueedu.Web.Components

@inherits ComponentBase<CourseViewModel>

<div class="le-course">
    <div class="container">
        <div class="le-course--close">
            <LeButton Color=Color.Transparent Rounded=@Rounded.Full IsShadow="false" Command=@BindingContext.HideModalCommand>
                <i class="fa-solid fa-xmark text-lg"></i>
            </LeButton>
        </div>


        <div class="le-course__container">
            <div class="le-course__lyrics">
                <LeCourseIndicator Indicator=@Bind(x=> x.CourseIndicator) />

                <LeLyrics Lyrics=@Bind(x=> x.CourseDetail).Lyrics NextLyrics="@Bind(x=> x.NextLyrics)"
                          CurrentLyrics="@Bind(x=> x.CurrentLyrics)" />

                <LeStylish StylishCommand=@BindingContext.StylishCommand
                           Stylish="@Bind(x=> x.CurrentLyrics).Stylish" />
            </div>
            <div class="le-course__video">
                <LeCard>
                    <LeCardBody>
                        <LeVideo />
                    </LeCardBody>
                </LeCard>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public CreateCourseModel CreateCourse { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (BindingContext is not null && BindingContext.ModalInstance is null)
        {
            BindingContext.ModalInstance = ModalInstance;
        }
    }
}