@namespace Langueedu.Web.Components

<div class="le-stylish-container">
    @foreach (var item in Stylish)
    {
        <LeCard>
            <LeCardBody>
                <LeButton Command=@StylishCommand CommandParameter=@item Color=@item.Color FullWidth>
                    @item.Answer
                </LeButton>
            </LeCardBody>
        </LeCard>
    }
</div>

@code {
    [Parameter]
    public List<StylishModel> Stylish { get; set; }

    [Parameter]
    public ICommand StylishCommand { get; set; }
}