@using Microsoft.AspNetCore.Components.Web
@namespace Langueedu.Web.Server.Pages
@using Langueedu.Web.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Langueedu</title>
    <base href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="_content/Langueedu.Web.Pages/assets/scss/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="_content/Langueedu.Web.Pages/css/app.min.css" rel="stylesheet" />

    <link href="_content/Langueedu.Web.Pages/manifest.json" rel="manifest" />
<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />

    <component type="typeof(HeadOutlet)" render-mode="WebAssemblyPrerendered" />
</head>
<body class="dark-only">

    @RenderBody()


    <div class="loader-wrapper">
        <div class="typewriter">
            <div class="spinner-border Typeahead-spinner">
            </div>
        </div>
    </div>

    <persist-component-state />
    <script src="_content/Blazored.Modal/blazored.modal.js"></script>

    <script src="_framework/blazor.webassembly.js"></script>

    <script src="_content/Langueedu.Web.Pages/assets/scripts/jquery/jquery.min.js"></script>
    <script src="_content/Langueedu.Web.Pages/assets/scripts/bootstrap/bootstrap.min.js"></script>
    <script src="_content/Langueedu.Web.Pages/scripts/app.min.js"></script>

    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>
    <script>navigator.serviceWorker.register('_content/Langueedu.Web.Pages/service-worker.js');</script>

</body>
</html>
