.le-track-cover {
  & .gradient-info,
  &__background {
    @apply rounded-t-xl;
  }

  &__background {
    content-visibility: auto;
    background-attachment: scroll;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    contain: strict;
    height: 40vh;
    min-height: 470px;
  }
}
