@namespace Langueedu.Web.Components

@inherits UIComponentBase

<div class="form-group">

    <InputText type=@InputType.ToDescriptionString()
               Class="form-control"
               @attributes="UserAttributes"
               @bind-Value=@Value
               DisplayName=@Placeholder />

    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="col-form-label pt-0">@Label</label>
    }

    @if (ValidationFor != null)
    {
        <ValidationMessage For="@ValidationFor" />
    }
</div>