@namespace Langueedu.Web.Components

<ul class="creative-dots">
    <li class="bg-primary big-dot"></li>
    <li class="bg-secondary semi-big-dot"></li>
    <li class="bg-warning medium-dot"></li>
    <li class="bg-info semi-medium-dot"></li>
    <li class="bg-secondary semi-small-dot"></li>
    <li class="bg-primary small-dot"></li>
</ul>