@namespace Langueedu.Web.Components

<div class="iconsidebar-menu">
    <div class="sidebar">
        <ul class="iconMenu-bar custom-scrollbar">
            @foreach (var menuItem in MenuItem.MenuItems)
            {
                <li>
                    <a class="bar-icons" href="@menuItem.Href"><i class="@menuItem.Icon"></i><span>@menuItem.Title </span></a>
                </li>
            }
        </ul>
    </div>
</div>