@namespace Langueedu.Web.Components

    <div class="iconsidebar-menu">
        <div class="sidebar">
            <ul class="iconMenu-bar custom-scrollbar">
                <li>
                    <a class="bar-icons" href="#"><i class="pe-7s-home"></i><span>Home </span></a>
                </li>
            </ul>
        </div>
    </div>